.post__index {
  max-width: 900px;
  width: 100%;
}

.post__container {
  padding-top: 1rem;

  img {
    width: 100%;
    object-fit: cover;
  }

  .post__wrapper {
    background-color: $white;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: start;
    padding: 1em;
    box-shadow: 0 0 14px 1px $background;
    margin-bottom: 1.25em;
    min-width: fit-content;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 14px 1px $line;
    }

    .post__label {
      padding: 0.5em 0;
    }
  }


}

.post__wrapper__label {
  width: 100%;
  padding: 2em;
}

