.main__container {
  padding: 120px 60px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .main__container {
    flex-direction: column;
  }
}
