@charset "UTF-8";

$gray01: #696969;
$gray02: #919191;
$gray03: #bdbdbd;
$gray04: #e2e2e2;
$gray05: #f5f5f5;
$primary: #ff5831;
$primary_800: #ff6d4b;
$primary_700: #ff8164;
$primary_600: #ff967e;
$blue: #2e82ff;
$blue_800: #4891ff;
$blue_700: #61a1ff;
$blue_600: #7bb0ff;
$red: #e40000;
$black: #222222;
$white: #ffffff;
$background: #f1f3f5;
