.search__container {


  .search__input {
    color: $gray02;
    font-size: 1em;
    font-weight: 500;
    background-color: $input;
    width: calc(100% - 1.7em);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0.7em 1em;
  }
}


@media screen and (max-width: 900px) {
  .search__container {
    display: none;
  }
}
